.scheduler-view-week-hidden {
    display: none;
}

.scheduler-view-week .scheduler-view-table .scheduler-view-table-colgrid {
    background: #f6f6f6;
}

.scheduler-view-week .scheduler-event-title, .scheduler-view-week .scheduler-event-content {
    font-size: 14px;
}

.scheduler-view-week-day-marker {
	display: inline-block;
	height: 100%;
	width: 14.28%;
}

.scheduler-view-week-day-marker:focus {
    border: 1px solid rgb(54, 108, 217);
}